# DATABASE CONNECTION STRING
# The string used to connect to the MongoDB database.
CONNECTION_STRING="mongodb+srv://..."

# DATABASE NAME
# The name of the database.
DATABASE_NAME="<SERVER_DATABASE_NAME>"

# IS DEVELOPMENT ENVIRONMENT
# Whether or not the current environment should use the rules of a testing environment.
IS_DEV_ENVIRONMENT=true